dataclasses
Flask==2.0.3
flasgger==0.5.4
flask-restx
flask_swagger_ui
requests
config
detect_delimiter
regex
pyvim
flask-cors
werkzeug==2.1.2
numpy
pandas
xlrd
rdflib
pyjwt
pyarrow>=7.0.0
pydantic
importlib-metadata